node_modules

.env

certs

.DS_Store

treetop-learning-1589657684780-firebase-adminsdk-gnmnu-1815da60f3.json

functions/adminsdk.json

functions/.gitignore

functions/treetop-learning-1589657684780-a3a8abfe99e9.json

functions/.runtimeconfig.json
